.loginPage {
  border: solid black 2px;
  padding: 1em;
  width: 30em;
  margin: 0 auto;
  text-align: center;
  h3 {
  margin-bottom: .1em;
  }
  button {
  margin-top: .6em;
  }
}


.watchListCard{
  border: 1px solid black;
  margin: 2%;
  padding: 2%;
  text-align: center;
  img {
    max-width: 90%;
  }
}



.cover-container {
    background-color: #f0f6f6;
    border: 1px solid black;
    border-radius: 10px;
    height: 450px;
    width: 200%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 1% 1%;
    box-shadow: 6px 2px 4px #bbb;
    border-radius: 0px 4px 4px 0px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    white-space: pre-line;
    img {
      max-width: 100%;
    }
}


