body {
  background-color: darkgray;
}

.navbar {
  background-color: darkred;
  font-weight: bold;
  .navbar-brand {
    color: ivory;
    font-size: 2em;
  }
  a {
    color: white;
  }
}

.loginPage {
  border: solid black 2px;
  padding: 1em;
  width: 30em;
  margin: 0 auto;
  text-align: center;
  h3 {
  margin-bottom: .1em;
  }
  button {
  margin-top: .6em;
  }
}


.watchListCard{
  border: 1px solid black;
  margin: 2%;
  padding: 2%;
  text-align: center;
  img {
    max-width: 90%;
  }
}



.cover-container {
    margin: 5% 0;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 1% 1%;
    box-shadow: 6px 2px 4px #ff5;
    border-radius: 0px 4px 4px 0px;
    width: 20%;
    min-height: 440px;
    max-height: 440px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
    white-space: pre-line;
    .movieTitle {
      font-weight: bold;
      text-align: center;
      font-size: 1.3em;
      line-height: 120%;
      margin-top: 2%;
      overflow: scroll;
      height: 50px;
    }

    white-space: normal;
    img {
      display: block;
      margin: 0 auto;
      max-height: 300px;
      min-height: 300px;
      margin: 0 auto;
      padding-left: .5%;
      padding-right: .5%;
    }
    .movieYear {
      padding-left: 5%;
    }
}

.watchList {
  .movieCast {
    background-color: white;

  }
}


.rating {
  position: absolute;
  background-color: darkred;
}





