<h1>{{pageTitle}}</h1>
<form>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="" ng-model='newItem.title'/>
  </div>
  <div class="form-group">
    <label>posterURL</label>
    <input type="text" class="form-control" placeholder="" ng-model='newItem.posterURL'/>
  </div>
  <div class="form-group">
    <label>year</label>
    <input type="text" class="form-control" placeholder="" ng-model='newItem.year'/>
  </div>
  <div class="form-group">
    <label>rating</label>
    <input type="text" class="form-control" placeholder="" ng-model='newItem.rating'/>
  </div>
  <div class="text-center">
    <button class="btn btn-default" ng-click="addNewItem()">{{submitButtonText}}</button>
  </div>
</form>