<div class="searchOMDB" ng-controller="SearchOMDBCtrl">
  <!-- <form> -->
    <input type="search" class="form-control" placeholder="Search OMDB..." ng-model="searchMovie"/>
    <button ng-click="searchForMovie()">Search</button>
    <input type="search" class="form-control" placeholder="Search My Wishlist..."/>
    <button>Search</button>
  <!-- </form> -->

<section>
<div class="row-fluid">
    <div class="cover-container">
      <div class="card cover-item" ng-repeat="movie in movieResults">
        <div class="poster-container">
          <div class="movieTitle">{{movie.Title}}</div>
          <div><img ng-src={{movie.Poster}}></div>
          <div class="movieYear text-muted card-subtitle">{{movie.Year}}</div>
          <button class="btn btn-warning" ng-click="searchSingleMovie(movie.Title)">Add Movie</button>
        </div>
      </div>
    </div>
</div>
</section>