<h1>Movies I've Watched</h1>

<div ng-repeat="movie in items | filter: {hasWatched: true}">
    <div class="col-xs-3 watchListCard">
      <div>{{movie.title}}</div>
      <div><img ng-src="http://i.imgur.com/LNWnPxA.png"></div> 
      <div>{{movie.year}}</div>
      <div class=><input type='checkbox' ng-model="movie.HasWatched" ng-change="inputChange(movie)" name=''/>
      <div ><button class="btn btn-danger" ng-click="itemDelete(movie.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
    </div>
  </div>
</div>