
<div class="row-fluid">
    <div class="col-lg-6 col-md-10 ">
        <div class="cover-container">
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
            <div class="cover-item"></div>
        </div>
    </div>
</div>