<h1>Wishlist</h1>
<!-- <div class="col-lg-6 col-md-10 "> -->
  <div class="cover-container">
    <!-- <div class="cover-item"></div>  -->
    <div ng-repeat="movie in items | filter: {hasWatched: false}" class="cover-item">
        <div class="movieTitle">{{movie.title}}</div>
        <div><img ng-src="{{movie.posterURL}}"></div> 
        <div>{{movie.year}}</div>
        <div>{{movie.majorActors.join(", ")}}
        <div><button class="btn btn-danger" ng-click="itemDelete(movie.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
      

      <div class="rating">
          <span id="star1" ng-click = "rateMovie(1, movie.id)" ng-mouseenter = "starred(true)" ng-mouseleave = "starred(false)"ng-style = "starColor"><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span id="star2" ng-click = "rateMovie(2, movie.id)" ng-mouseenter = "starred(true)" ng-mouseleave = "starred(false)"ng-style = "starColor"><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span id="star3" ng-click = "rateMovie(3, movie.id)" ng-mouseenter = "starred(true)" ng-mouseleave = "starred(false)"ng-style = "starColor"><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span id="star4" ng-click = "rateMovie(4, movie.id)" ng-mouseenter = "starred(true)" ng-mouseleave = "starred(false)"ng-style = "starColor"><i class="fa fa-star-o" aria-hidden="true"></i></span>
          <span id="star5" ng-click = "rateMovie(5, movie.id)" ng-mouseenter = "starred(true)" ng-mouseleave = "starred(false)"ng-style = "starColor"><i class="fa fa-star-o" aria-hidden="true"></i></span>
      </div>
      </div>
    </div>
  </div>












